**/.DS_Store
**/data/
submit.sh
**/zip_back/
Project_5/2024 BMED6208P MIC ImageSegmentation_生物医学影像课程.pptx
Project_3/code.zip
Project_5/2024 BMED6208P MIC ImageSegmentation_生物医学影像课程.pptx
Project_3/第4组_SA25916025_陈浩斌.zip
